body {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eee;
}

.form-search {
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
}
.form-search .form-search-heading {
  margin-bottom: 10px;
}
.form-search {
  font-weight: normal;
}
.form-search .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form-search .form-control:focus {
  z-index: 2;
}
.form-search .input-group{
  margin-top: 25px;
}
.form-search .btn {
  cursor: pointer;
}

#search-btn{
  color: white;
}

#progress{
  margin-top: 10px;
  margin-bottom: 25px;
  width: 20%;
}

#progress .progress-bar{
  display: none;
}

#data{
  box-shadow: 8px 8px 10px grey;
  display: none;
}