{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amazon apps scraper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="{% static 'app_scraper/search.css' %}" rel="stylesheet">
</head>
  <body>

    <div class="container">
        
        <form class="form-search">

            <h2 class="form-search-heading text-center">Type your app url here:</h2>
            <label for="inputUrl" class="sr-only">App url</label>

            <div class="input-group">
                <input type="text" id="input-app-url" class="form-control" placeholder="App url goes here..." aria-label="App url goes here..." required autofocus>
                <span class="input-group-btn">
                    <a id="search-btn" class="btn btn-secondary" role="button">Go!</a>
                </span>
            </div>

        </form>

        <div id='progress' class="d-block mx-auto">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%; border-radius: 3px;"></div>
        </div>

        <table id='data' class="table table-inverse table-bordered">
            <tbody>
                <tr>
                <th>App name</th>
                <td id="app-name">Facebook</td>
                </tr>
                <tr>
                <th>App version</th>
                <td id="app-version">3.4.1</td>
                </tr>
                <tr>
                <th>Changelog</th>
                <td id="app-changelog">Improvements for reliability and speed</td>
                </tr>
                <tr>
                <th>Release date</th>
                <td id="app-release-date">September 7, 2012</td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="{% static 'app_scraper/main.js' %}"></script>
  </body>
</html>

